/* Div externa que engloba o footer */
#externaFooter {
  width: 100%;
  height: 30px;
  background-color: #ffaa33;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}

/* Responsividade */
@media screen and (max-width: 330px) {
  span {
    display: none;
  }
}
